{{ define "main" }}
	<section id="hero">
		<img src="/img/cosmo-club.jpg" alt="Cosmo enjoying astronomy." loading="lazy" />
		<div>
			<h1>Join the Astronomy Club!</h1>
			<p>
				We're giving students the opportunity to look at celestial events and develop a love for astronomy and interest in fieldwork as an astronomer and other fields of science. 
			</p>
			<div class="sbs">
				<a href="/join" class="btn">Join the club</a>
				<a href="/about" class="btn">Learn more</a>
			</div>
		</div>
	</section>
	<section class="sxs">
		<img src="/img/meteor-shower.jpg" alt="Cosmo starwatching." loading="lazy" />
		<div>
			<h1>Taurid meteor showers</h1>
			<p>
				Despite the full moon blocking out many of the shooting stars, the Taurid meteor showers' fireballs will be clear as day. The South Taurids will be in peak on 5 November 2022, with the North Taurids peaking on 11 November 2022.
			</p>
			<a href="/events" class="btn">See other upcoming events</a>
		</div>
	</section>
	<section>
		<img src="/img/cosmo-scratch.jpg" alt="Cosmo lost trying to find what is missing" loading="lazy" />
		<div>
			<h1>Missed a meeting?</h1>
			<p>
				Get caught up with slides, meeting notes, and a text-only version through our recaps section.  
			</p>
			<a href="/recaps" class="btn">See available recaps</a>
		</div>
	</section>
	<section>
		<img src="/img/cosmo-lazycrop.png" alt="Cosmo starwatching." loading="lazy" />
		<div>
			<h1>Cosmo— Our mascot</h1>
			<p>
				Cosmo is our loveable mascot and face of the SRHS Astronomy Club. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.  
			</p>
			<a href="/cosmo" class="btn">Learn more about Cosmo</a>
		</div>
	</section>
{{ end }}
