{{ define "main" }}
	<section id="hero">
		<img src="/img/cosmo-club.jpg" alt="Cosmo enjoying astronomy." />
		<div>
			<h1>Join the Astronomy Club!</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
			</p>
			<div class="sbs">
				<a href="/join" class="btn">Join the club</a>
				<a href="/about" class="btn">Learn more</a>
			</div>
		</div>
	</section>
	<section class="sxs">
		<img src="/img/meteor-shower.jpg" alt="Cosmo starwatching." />
		<div>
			<h1>Taurid meteor showers</h1>
			<p>
				Despite the full moon blocking out many of the shooting stars, the Taurid meteor showers' fireballs will be clear as day. The showers will be in peak on 5 November 2022. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.  
			</p>
			<a href="/events" class="btn">See other upcoming events</a>
		</div>
	</section>
	<section>
		<img src="/img/cosmo-lazycrop.png" alt="Cosmo starwatching." />
		<div>
			<h1>Cosmo— Our mascot</h1>
			<p>
				Cosmo is our loveable mascot and face of the SRHS Astronomy Club. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.  
			</p>
			<a href="/cosmo" class="btn">Learn more about Cosmo</a>
		</div>
	</section>
{{ end }}
