{{ define "main" }}
	<section id="hero">
		<img src="/img/cosmo-club.jpg" alt="Cosmo enjoying astronomy." />
		<div>
			<h1>Join the Astronomy Club!</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
			</p>
			<div class="sbs">
				<a href="/join"><button>Join the club</button></a>
				<a href="/about"><button>Learn more</button></a>
			</div>
		</div>
	</section>
	<section>
		<img src="/img/cosmo-club.jpg" alt="Cosmo starwatching." />
		<div>
			<h1>Taurid meteor showers</h1>
			<p>
				Although 8 November is a full moon and many of the shooting stars won't be visible, the fireballs will be. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.  
			</p>
			<a href="/events"><button>See other upcoming events</button></a>
		</div>
	</section>
	<section>
		<img src="/img/cosmo-club.jpg" alt="Cosmo starwatching." />
		<div>
			<h1>Cosmo— Our mascot</h1>
			<p>
				Cosmo is our loveable mascot and face of the SRHS Astronomy Club. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.  
			</p>
			<a href="/cosmo"><button>See more of Cosmo</button></a>
		</div>
	</section>
{{ end }}
